<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BikeShop - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
</head>

<body>
    <!--

> https://expressjs.com
> http://ejs.co

 -->
    <!-- The container is provided by Bootstrap. You could directly use the class container-fluid if you wanted it to take the full screen -->
    <div class="container">
        <!-- Rows are used to generate new lines, and therefore it will start to a new column -->
        <div class="row" id="shop-header">
            <div class="col-12">
                <img id="logo-header" src="images/bike-logo.svg" alt=""> The Bike Shop Experience
            </div>
        </div>

        <div class="row" id="shop-background">
        </div>
        <div class="row">
            <a href="shop" class="btn-panier">
                <button type="button" class="btn btn-outline-info btn-sm" name="button"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
            </a>
        </div>
        <div class="row">
            <!-- These size tools are provided by Bootstrap. It enables the auto resizing of the elements relatively to the size of the screen -->

            <% for(var i = 0; i < databike.length; i++){ %>
            <div class="col-12 col-sm-6 col-md-4 bike-card">
                <div class="card text-center">
                    <form action="/shop" method="post" class="input-pu">
                        <img class="card-img-top" src="<%= databike[i].img %>">
                        <div class="card-body row">
                            <h5 class="card-title col-6"><%= databike[i].model %></h5>
                            <span class="shop-price col-6"><%= databike[i].pu %> €</span>
                            <form action="/shop" method="post">
                                    <input type="text" name="img" value="<%= databike[i].img %>" hidden>
                                    <input type="text" name="model" value="<%= databike[i].model %>" hidden>
                                    <input type="text" name="pu" value="<%= databike[i].pu %>" hidden>
                                    <input type="text" name="quantity" value="1" hidden>
                                <input type="submit" value="buy" class="btn btn-outline-info btn-sm">
                            </form>
                        </div>
                    </form>
                </div>
            </div>

            <% } %>

            


        </div>

    </div>
</body>

</html>
